@use 'variables' as *;

.Toastify__toast-container {
  font-family: inherit;
}

.Toastify__toast {
  background-color: #2a2a2a;
  color: $text-white;
  border: 1px solid #444;
}

.Toastify__toast--success {
  background-color: #2a5a2a;
}

.Toastify__toast--error {
  background-color: #5a2a2a;
}

.Toastify__close-button {
  color: $text-white;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

